<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nhận Diện Loài Rắn Tại Việt Nam | Công Cụ Trực Tuyến Miễn Phí</title>
    <meta
      name="description"
      content="Công cụ nhận diện loài rắn tại Việt Nam miễn phí, chính xác cao. Tải lên hình ảnh và nhận kết quả ngay lập tức. An toàn và dễ sử dụng cho mọi người."
    />
    <meta
      name="keywords"
      content="nhận diện rắn, loài rắn Việt Nam, công cụ nhận diện rắn, rắn độc, an toàn rắn cắn"
    />
    <link rel="canonical" href="https://ranviet.site/nhan-dien-ran" />
    <link rel="icon" type="image/x-icon" href="images/logo_new.png" />
    <meta
      property="og:title"
      content="Nhận Diện Loài Rắn Tại Việt Nam | Công Cụ Trực Tuyến Miễn Phí"
    />
    <meta
      property="og:description"
      content="Công cụ nhận diện loài rắn tại Việt Nam miễn phí, chính xác cao. Tải lên hình ảnh và nhận kết quả ngay lập tức."
    />
    <meta
      property="og:image"
      content="https://ranviet.site/images/logo_new.png"
    />
    <meta property="og:url" content="https://ranviet.site/nhan-dien-ran" />
    <meta name="twitter:card" content="summary_large_image" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-FW4S1KP528"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-FW4S1KP528");
    </script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebApplication",
        "name": "Công Cụ Nhận Diện Loài Rắn Tại Việt Nam",
        "description": "Công cụ trực tuyến miễn phí giúp nhận diện các loài rắn tại Việt Nam thông qua hình ảnh được tải lên.",
        "url": "https://ranviet.site/nhan-dien-ran",
        "applicationCategory": "UtilityApplication",
        "operatingSystem": "All",
        "offers": {
          "@type": "Offer",
          "price": "0"
        }
      }
    </script>

    <style>
      .upload-container {
        text-align: center;
        margin-top: 20px;
      }

      .drop-area {
        border: 2px dashed #ccc;
        border-radius: 10px;
        padding: 20px;
        background-color: #fff;
        cursor: pointer;
        position: relative;
      }

      .drop-area p {
        margin: 0;
        color: #666;
      }

      #fileInput {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }

      .preview {
        margin-top: 20px;
        text-align: center;
      }

      .preview img {
        max-width: 30%;
        border-radius: 10px;
      }

      .results-container {
        margin-top: 20px;
      }

      .result-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
      }

      .result-item img {
        width: 200px;
        /* height: 300px; */
        object-fit: cover;
        border-radius: 10px;
        margin-right: 10px;
      }

      .result-item .result-details {
        flex: 1;
      }
    </style>
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto p-4">
      <div class="mb-4">
        <a
          href="/"
          class="inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
        >
          Quay lại
        </a>
      </div>
      <h1 class="text-2xl font-bold text-center">Chi Tiết Nhận Diện</h1>
      <h2 class="text-center">
        Ứng dụng sử dụng trí tuệ nhân tạo đến từ
        <a href="https://www.inaturalist.org/" target="_blank">Inaturalist</a>
        để nhận diện các loại rắn
      </h2>
      <div class="upload-container mt-6">
        <div id="drop-area" class="drop-area">
          <strong>Nhận diện bằng hình ảnh</strong>
          <p>Kéo và thả ảnh vào đây hoặc nhấn để chọn ảnh</p>
          <input name="image" type="file" id="fileInput" accept="image/*" />
          <div id="preview" class="preview"></div>
        </div>
      </div>

      <div id="results" class="results-container">
        <!-- Kết quả nhận diện sẽ được thêm ở đây -->
      </div>
    </div>

    <script>
      const fileInput = document.getElementById("fileInput");
      const preview = document.getElementById("preview");
      const resultsContainer = document.getElementById("results");

      fileInput.addEventListener("change", handleImageUpload);

      function handleImageUpload(event) {
        const file = event.target.files[0];
        if (file) {
          // Hiển thị ảnh đã chọn trước khi upload
          const reader = new FileReader();
          reader.onload = function (e) {
            const base64Image = e.target.result;
            preview.innerHTML = `<img src="${base64Image}" alt="Preview" />`;

            // Gửi yêu cầu tới máy chủ để nhận diện (Base64 image)
            fetch("/detection", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                image: base64Image, // Gửi Base64 image
              }),
            })
              .then((response) => response.json())
              .then((data) => {
                // Display the detection results
                displayResults(data.data);
              })
              .catch((error) => {
                console.error("Lỗi khi tải lên:", error);
              });
          };

          reader.readAsDataURL(file); // Convert file to Base64
        }
      }

      // Hiển thị kết quả nhận diện
      function displayResults(data) {
        resultsContainer.innerHTML = ""; // Xóa kết quả cũ

        if (data.common_ancestor != null) {
          const resultCommonItem = document.createElement("div");
          resultCommonItem.classList.add("result-item");

          resultCommonItem.innerHTML = `
            <img src="${
              data.common_ancestor.taxon.default_photo.medium_url
            }" alt="${data.common_ancestor.taxon.default_photo.medium_url}" />
            <div class="result-details">
              <p class="text-red-500">*Chính xác nhất</p>
              <h3 class="text-lg font-semibold">${
                data.common_ancestor.taxon.name
              }</h3>
            
              <p>Độ chính xác: ${Math.round(data.common_ancestor.score)}%</p>
            </div>
          `;
          resultsContainer.appendChild(resultCommonItem);
        }

        data.results.forEach((result) => {
          const resultItem = document.createElement("div");
          resultItem.classList.add("result-item");

          resultItem.innerHTML = `
            <img src="${result.taxon.default_photo.medium_url}" alt="${
            result.taxon.name
          }" />
            <div class="result-details">
              <h3 class="text-lg font-semibold">${result.taxon.name}</h3>
              <p>Độ chính xác: ${Math.round(result.combined_score)}%</p>
            </div>
          `;

          resultsContainer.appendChild(resultItem);
        });
      }
    </script>
  </body>
</html>
